body {
  font-family: Roboto, sans-serif;
}

fieldset {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 15px 50px;
}

fieldset :not(legend) {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
}

input, select, textarea {
  border: 1px solid black;
}

legend {
  border: 1px solid black;
}

.input-group {
  display: flex;
  flex-direction: column;
  max-width: 230px;
}

.input-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
}

#date, #status {
  flex-basis: 100%;
  min-width: 0;
}
